/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	max-width: 80%;
	margin: auto;
}


header {
	padding-top: 2%;
	width: 98%;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: darkgrey;
	padding-left: 60px;
	font-family: 'Titillium', cursive;
	font-size: 1em;
}

a:hover{
	color: lightgrey;
}

img.logo {
	width: auto;
	height: auto;
	margin-left: 20%;
}

h1 {
	width: 500px;
	margin-bottom: -100px;
}

h2 {
	font-size: 25px;
}

.inno{
	color: black;
	font-size: 6em;
	padding-top: 5%;
	text-align: center;
	padding-left: 15%;
	display: inline-block;
}

button {
	width: 250px;
	height: 50px;
	font-size: .3em;
	color: black;
	background-color: white;
	padding-top: 1px;
    border: 2px solid black;
    margin-bottom: 5%;
}

button:hover {
	color: white;
	background-color: black;
	border: 2px solid white;
}

.code{
	width: auto;
	height: auto;
	/* display: inline-block; */
	padding-left: 8%;
	padding-bottom: 2%;
	margin-top: -1000px;
	margin-left: 500px;
}

.features {
	width: 49%;
	display: inline-block;
	padding: 2%;
}

.about{
	width: 49%;
	display: inline-block;
	padding: 2%;
}

.middle-img{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.services{
	width: 30%;
	display: inline-block;
	padding: 2%;
}

.product{
	width: 30%;
	display: inline-block;
	padding: 2%;
}

.vision{
	width: 30%;
	display: inline-block;
	padding: 2%;
}

.address {
	width: 300px;
}

.phone {
	padding-top: 2%;
}

.email {
	padding-top: 2%;
}

.email:hover {
	color: lightgray;
}

.copyright{
	padding: 3%;
	text-align: center;
}

/* Services Page */

.sbody {
	max-width: 80%;
	margin: auto;
}


.sheader {
	padding-top: 2%;
	width: 98%;
}

.snav-bar {
	display: flex;
	padding-left: 10%;
}

.slogo {
	width: 100%;
	height: auto;
	margin-left: 20%;
	margin-top: -5px;
}

.services-header-img {
	width: 100%;
	padding: 2% 0;
}

.h1-service {
	font-size: 25px;
	padding-top: 3px;
}

.h2-service {
	font-size: 20px;
	padding-top: 10px;
}

.s-services {
	padding: 3% 0;
}

.p-services {
	width: 100%;
}

.content {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0;
}

.boxes {
	border: 2px solid black;
	background-color: rgb(238, 238, 238);
	height: auto;
	width: 45%;
	padding: 20px;
	margin: 1%;
}

.content p {
	margin-bottom: 20px;
}

.service-button {
	width: 200px;
	height: 50px;
	font-size: 1em;
	color: black;
	background-color: white;
	padding-top: 1px;
	border: 2px solid black;
	border-radius: 10px;
}

.last {
	display: flex;
	padding-top: 5%;
}

.last p {
	padding: 15px 0;
}

.last ul {
	list-style-type: square;
	padding: 3%;
}

.last li {
	padding: 1%;
}

.services-info-img {
	flex: right;
}



@media only screen and (max-width: 800px) {
	.snav-bar {
		display: flex;
		margin-left: -10%;
		padding: 2% 0;
	}
	
	nav a {
		padding-left: 3%;
	}

	.content {
		display: flex;
		flex-direction: column;
	 }

	 .boxes {
		 width: 100%;
	 }

	 .last {
		 display: flex;
		 flex-direction: column;
	 }
  }


@media(max-width: 800px) {
    body {
     max-width: 95%;
    }

    .code {
        visibility: hidden;
    }

    .nav-bar {
        display: flex;
        justify-content: center;
        padding: 0;
        flex-wrap: wrap-reverse;
        font-size: 1rem;
        width: auto;
    }

    a {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    img.logo{
        margin-left: 0;
        padding: 3%;
    }
}


@media(max-width: 500px) {
    body {
     max-width: 100%;
    }
    
    .inno {
        font-size: 5em;
        padding-left: 0;
        padding-top: 12%;
    }

    button {
        margin-bottom: 20%;
    }

    .code {
        visibility: hidden;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar :nth-child(7) {
        order: -1;
    }

    nav a {
        padding-left: 45%;
        border-top: 1px solid grey;
    }

    .last-a {
        border-bottom: 1px solid grey;
    }

    img.logo{
        padding: 3%;
        height: auto;
        width: auto;
        margin: auto;
    }

    .features, .about, .services, .product, .vision, .contact {
        width: 99%;
        padding: 6%;
    }
}